<p>parent-block works!</p>
<button (click)="onShowChild()">Show Child Block</button>
<input type="text" (change)="onTextInputEvent($event)">
<app-child-block [hidden]="!showChild" [childInputText]=textInputText ></app-child-block>
